body {
    color: #999;
}

.game-field {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
}

.col {
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    padding: 10px;

    border: 1px solid #000;
}